html{
    background:url('Images/newheart_hires_logo.png') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

fieldset{
    border:0;
}

h1 { position: relative; }
h1:hover { color: transparent; }

h1:hover:after {
    content: attr(data-hover-response);
    color: black;
    position: absolute;
    left: 0;

}

input[type=range]:before { content: attr(min); padding-right: 5px; }
input[type=range]:after { content: attr(max); padding-left: 5px;}

#stats{
    position: absolute;
    top:25%;
    left:35%;
    margin-left:auto;
    margin-right:auto;
    padding: 25px;
}
#stats td {
    padding: 10px;
    border: solid;
}

#signup {
    position: relative;
    top:25%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding: 25px;
}

#map {
    background: url('Images/Map/background.png') no-repeat center center;
    background-size: 80%;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 20%;
    left: 25%;
    z-index: -1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#map #arena {
    position: absolute;
    right: 20%;
    top: 15%;
}

#map #city {
    position: absolute;
    left: 20%;
    top: 15%
}

#map #forest {
    position: absolute;
    left: 15%;
    bottom:15%;
}

#map #home {
    position: absolute;
    left: 45%;
    top: 45%;
}

#map #school {
    position: absolute;
    right: 25%;
    bottom: 15%;
}

#signup table {
    position: relative;
    padding: 25px;
}

#navigation
{
    background: url('Images/NavBar/background.png') no-repeat center center;
    background-size: 100% auto;
    position: absolute;
    text-align: center;
    padding: 50px;
    left:  40%;
    bottom: 0;
    z-index: 100;
    margin-left:  auto;
    margin-right: auto;
}

#login
{
    background:url('Images/entry_form_background.png') no-repeat center center;
    background-size: 100% auto;
    position: absolute;
    height: 290px;
    width: 300px;
    padding: 40px;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left:auto;
    margin-right:auto;
}

#login:before
{
    content: '';
    position: absolute;
    z-index: -1;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

h1:after, h1:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 120px;
}

h1:after
{
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

h1:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

#avatar_placeholder
{
    min-width: 200px;
    min-height: 200px;
    border-color: #e88;
    text-align: center;
    -webkit-box-shadow: 0 0 2px rgba(255, 0, 0, .8);
    -moz-box-shadow: 0 0 2px rbba(255, 0, 0, .8);
    -o-box-shadow: 0 0 2px rbba(255, 0, 0, .8);
    -ms-box-shadow: 0 0 2px rbba(255, 0, 0, .8);
    box-shadow:0 0 2px rgba(255, 0, 0, .8);

}
