extends layout

block title 
	title Page Under Construction
	
block content
	#error.box
		img(src="/assets/images/newme_logo.png")
		p Page Under Construction.
		p We are sorry for the inconvinience.
			br
			| Please check back again later.