doctype
html(lang='en')
	head
		title Avatar Creation
		link(rel="stylesheet", type="text/css", href="/assets/stylesheets/style.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script 
			var selection = [0, 0, 0, 0, 0, 0, 0, 0];
			$(function(){
				var groups = ["#skin", "#hair", "#shirt", "#pant", "#eye", "#hair_style", "#shoe_style"];
				for(var i = 0; i < groups.length; i++){
					$(groups[i] + " .color_selector").click(switch_selected(groups[i], i));
				}
				$(".avatar_image_button").click(function(){
					$(".avatar_image_button").removeClass('selected');
					$(this).addClass('selected');
					selection[7] = $(this).attr('data-id');
					update_selection();
				});
				$('#save_avatar').click(function(){ 
					var conf = confirm("Are you sure you are finished creating your avatar?");
					if(conf){
						$('#avatar_form').submit();
					}
				});
				$('.arrow_box_left').click(function(){
					var id = '#' + $(this).parent('.selector_box').attr('id');
					for(var i = 0; i < groups.length; i++){
						if(groups[i] == id){
							if(selection[i] < 1)
								return true;
							selection[i]--;
							$(id + ' .color_selector').removeClass('selected');
							$(id + ' .color_selector:nth-child(' + (selection[i] + 1) + ')').addClass('selected');
							update_selection();
							return true;
						}
					}
				});
				$('.arrow_box_right').click(function(){
					var id = '#' + $(this).parent('.selector_box').attr('id');
					for(var i = 0; i < groups.length; i++){
						if(groups[i] == id){
							if(selection[i] > 2)
								return true;
							selection[i]++;
							$(id + ' .color_selector').removeClass('selected');
							$(id + ' .color_selector:nth-child(' + (selection[i] + 1) + ')').addClass('selected');
							update_selection();
							return true;
						}
					}
				});
			});
			function switch_selected(group, group_num){
				return function(){
					$(group + " .color_selector").removeClass('selected');
					$(this).addClass('selected');
					selection[group_num] = $(this).attr('data-id');
					update_selection();
				};
			}
			function update_selection(){
				$("#avatar_url").val(selection.join(""));
				$("#avatar_image").attr('src', "/avatars/" + selection.join(""));
			}
	body
		.avatar_title
			div(style="position:absolute; left:1%;z-index:100")
				a(href="/profile")
					img(src="/assets/images/avatar/HouseIcon.png")
			h1 Create Your Avatar
		div(style="margin:auto;padding-top:0.5%;")
			.avatar_selector
				.avatar_description Skin Tone:
				#skin.selector_box(data-id=0)
					- var group_array = skin_colors
					include color_selector
				.avatar_description Hair Color:
				#hair.selector_box(data-id=1)
					- var group_array = hair_colors
					include color_selector
				.avatar_description Shirt Color
				#shirt.selector_box(data-id=2)
					- var group_array = shirt_colors
					include color_selector
				.avatar_description Pant Color:
				#pant.selector_box(data-id=3)
					- var group_array = pant_colors
					include color_selector
				.avatar_description Eye Color:
				#eye.selector_box(data-id=4)
					- var group_array = eye_colors
					include color_selector
				.avatar_description Hair Style:
				#hair_style.selector_box(data-id=5)
					- var group_array = hair_styles
					include image_selector.jade
				.avatar_description Shoe Style:
				#shoe_style.selector_box(data-id=6)
					- var group_array = shoe_styles
					include image_selector.jade
				img#save_avatar(src='/assets/images/avatar/AvatarSaveButton.png', width='150px')
			.avatar_diplay
				.avatar_name
					| Hello! My Name is #{username}
				div(style="position:relative")
					img.avatar_image_button.selected(src='/assets/images/avatar/female.png', data-id=0)
						| F
					img.avatar_image_button(src='/assets/images/avatar/male.png', data-id=1)
						| M
					div(style="clear:both")
				img#avatar_image(src='/avatars/00000000')
				form#avatar_form(style="display:none", method="post", action="/avatar")
					input#avatar_url(type="text", value="00000000", name="url")
