extends layout

block title
	title Drink Nutrition Mini Game
	
block scripts
	script(src='/assets/javascripts/drinks_nutrition.js')

block content
	h1 Drink Mini-Game
	div(style='width:800px;margin-left:auto;margin-right:auto;height:500px;background:white;font-size:x-large;')
		div(style='float:left;width:60%;height:100%;position:relative;text-align:center;')
			img(src='/assets/images/market/refridgerator.png', width='100%', height='100%')
			#question(style='position:absolute;top:5%;left:5%;width:70%;')
				| Which one of these drinks contains more ?
			#time(style='position:absolute;top:20%;left:5%;width:70%;')
				| Time: 60
			#score(style='position:absolute;top:35%;left:5%;width:70%;')
				| Score: 0
			#skips(style='position:absolute;top:60%;left:5%;width:70%;')
				| Skips Left: 3
			div(style='position:absolute;top:80%;left:50%;width:20%;')
				p#skip_label(style="position:absolute;font-size:30px;font-weight:900;top:-25px;right:70px;")
					| START
				img#skip(src='/assets/images/market/skip.png', width='100%', height='65px', style='cursor:pointer;')
		div(style='width:40%;float:right;height:100%;text-align:center')
			div(style='position:relative; background:grey;margin-left:auto;margin-right:auto;margin-top:9%;width:80%;border-radius:20px;')
				img#choiceA(src='', width='170px', height='170px', style='cursor:pointer')
				p#choiceA_label
					| &nbsp;
			div(style='position:relative; background:grey;margin-left:auto;margin-right:auto;margin-top:9%;width:80%;border-radius:20px;')
				img#choiceB(src='', width='170px', height='170px', style='cursor:pointer')
				p#choiceB_label
					| &nbsp;
		#dialog
