doctype
html(lang='en')
	head
		block title
			title New Heart Game
		link(rel="stylesheet", type="text/css", href="/assets/stylesheets/style.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	body
		.content
			block content
				p Hello, world!
		#navigation_container
			table#navigation
				tr
					if(typeof username != 'undefined')
						td
							a(href="logout")
								img(src="/assets/images/navbar/logout.png")
						td
							a(href="profile")
								img(src="/assets/images/navbar/profile.png")
					else
						td
							a(href="login")
								img(src="/assets/images/navbar/signin.png")
					td
						a(href="map")
							img(src="/assets/images/navbar/home.png")
					td
						a(href="info")
							img(src="/assets/images/navbar/gameinfo.png")
					td
						a(href="about")
							img(src="/assets/images/navbar/about.png")
					td
						a(href="http://www.newheartnm.com")						
							img(src="/assets/images/navbar/newheart.png")