extends layout

block title
	title Map
	
block content
	h1 Map
	#map.box
		img(src='/assets/images/map/map.png',type='image/png',usemap='#map1')
		map(name='map1')
			area(href='./views/404.jade',shape='rect',coords='0,332,224,536')
			area(href='./views/404.jade',shape='rect',coords='456,400,720,628')
			area(href='./views/404.jade',shape='rect',coords='648,217,800,366')
			area(href='./views/404.jade',shape='rect',coords='158,240,272,320')
			area(href='./views/404.jade',shape='rect',coords='453,222,616,314')