extends layout

block title
	title Market
	
block content
	h1 Market
	#map.box
		img(src='/assets/images/market/market.png',type='image/png',usemap='#map1', width='848px', height='656px')		
		a(href='/drinks')
			div(style='position:absolute;z-index:2;left:130px;top:250px;width:200px;height:250px;')
		