extends layout

block title
	title Sign Up Page

block content
	h1 Sign Up
	table#signup.box
		tr
			th Your Avatar
			th Information
		tr
			td
				div
					img(src="assets/images/avatar.png")
			td
				form(action="signup", method="post")
					fieldset#inputs
						input#email(type="email", placeholder="E-mail address", name="email", autofocus, required)
						input#email_verify(type="email", placeholder="E-mail address again", required)
						input#hero_name(type="text", placeholder="Hero name", name="username", required)
						input#password(type="password", placeholder="Password", name="password", required)
						input#password_verify(type="password", placeholder="Password again", required)
					fieldset#actions
						input#submit(type="submit", value="Sign Up")
						br
						a(href="login") Already have an account?