html {
    background:url('/assets/images/newheart_hires_logo.png') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

body{
    margin: 0px;
}

fieldset {
    border:0;
}

.content{
    margin-bottom: 10%;
}

input[type=range]:before { content: attr(min); padding-right: 5px; }
input[type=range]:after { content: attr(max); padding-left: 5px;}

.box {
    background: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 10px 10px 30px rgba(0,0,0,.3);
    -webkit-box-shadow: 10px 10px 30px rgba(0,0,0,.3);
    box-shadow: 10px 10px 30px rgba(0,0,0,.3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(150,150,150, 0.5);
}

#error {
    width: 250px;
    height: 200px;
    padding: 20px;
    position: absolute;
    margin-left: -135px;
    margin-top: -150px;
    left: 50%;
    top: 35%;
    z-index: 0;
}

/*LOGIN*/
#login {
    width: 300px;
    height: 200px;
    padding: 20px;
    position: absolute;
    margin-left: -180px;
    margin-top: -150px;
    left: 50%;
    top: 35%;
    z-index: 0;
}

/*SIGNUP*/
#signup {
    width: 700px;
    height: 400px;
    padding: 25px;
    position: absolute;
    margin-left: -300px;
    margin-top: -150px;
    left: 50%;
    top: 35%;
}

#signup table {
    position: relative;
    padding: 25px;
}

/*STATS / GAME INFO*/
#stats {
    position: relative;
    display: block;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width:700px;
}

#stats td {
    padding: 10px;
    min-width: 150px;
    -moz-box-shadow: 0 0 0 1px #ddd;
    -webkit-box-shadow: 0 0 0 1px #ddd;
    box-shadow: 0 1px 2px 1px #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

label.stat {
    font-style: italic;
}
label.stat.attribute {
    font-weight: bold;
}


/*MAP*/
#map {
    position: relative;
    width: 70%;
    z-index: 1;
	padding: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#map #arena {
    position: absolute;
    right: 20%;
    top: 15%;
}

#map #city {
    position: absolute;
    left: 20%;
    top: 15%
}

#map #forest {
    position: absolute;
    left: 15%;
    bottom:15%;
}

#map #home {
    position: absolute;
    left: 45%;
    top: 45%;
}

#map #school {
    position: absolute;
    right: 25%;
    bottom: 15%;
}

.ghostbox{
    position:absolute;
    z-index:5;
}

.ghostbox .hoverghost{
    display:none;
}
.ghostbox:hover .hoverghost{
    display:block;
}

/*NAVIGATION*/
#navigation_container {
    display: block;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    left: 50%;
    z-index: 100;
}

#navigation {
    position: relative;
    background: url('/assets/images/navbar/background.png') no-repeat center center;
    background-size: 100% auto;
    text-align: center;
    padding: 0px;
    margin: 0px;
    z-index: 100;
    left: -50%;
}



h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
    padding: 10px;
}

h2 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 20px/1 Verdana, Helvetica;
}

#avatar_placeholder {
    min-width: 200px;
    min-height: 200px;
    border-color: #e88;
    text-align: center;
    -webkit-box-shadow: 0 0 2px rgba(255, 0, 0, .8);
    -moz-box-shadow: 0 0 2px rbba(255, 0, 0, .8);
    -o-box-shadow: 0 0 2px rbba(255, 0, 0, .8);
    -ms-box-shadow: 0 0 2px rbba(255, 0, 0, .8);
    box-shadow:0 0 2px rgba(255, 0, 0, .8);

}

/*ABOUT*/
#about {
    position: relative;
    display: block;
    width: 60%;
    min-width: 200px;
    max-width: 700px;
    padding: 25px;
    margin: 100px;
    top: 25%;
    margin-left:auto;
    margin-right:auto;
}


/*AVATAR*/
.avatar_title{
    width:100%;
    background:white;
    height:5%;
    text-align:center;
    padding-top: 2%;
    border-bottom: 1px solid gray;
}

.avatar_name{
    background-color: rgba(255,255,255,0.5);
    padding:5%;
    border-radius:10px;
    font-size:18pt;
    margin-bottom:20px;
}

.avatar_image_button{
    width:40px;
    height:40px;
    float:right;
    cursor: pointer;
}

.avatar_diplay{
    width:35%;
    padding-right:15%;
    float:right;
    text-align:center;
}

.color_selector{
    display:inline-block;width:50px;height:50px;margin-left:5px;margin-right: 5px;cursor :pointer;
}

.color_selector_box{
    display:inline-block;border: 1px solid gray;height:55px;padding:5px;position:relative;top:-10px;
    background: rgba(255, 200, 200, 0.3);
}

.arrow_box_left{
    display:inline-block;padding:5px;
}
.arrow_box_right{
    display:inline-block;padding:5px;
}

.arrow_box_right img {
    height:70px;cursor :pointer;
}
.arrow_box_left img {
    height:70px;cursor :pointer;
}

.avatar_selector{
    width:35%;padding-left:15%;float:left;text-align: center;
}

.avatar_selector .avatar_description{
    padding-left: 35px;
    margin-bottom: 5px;
    margin-top: -5px;
}

.selector_box{
    margin-top: -10px;
    height:75px;
}

.selected{
    border: 3px solid #FF9999;
}

img.selected{
    border: 3px solid #FF9999;border-radius: 18px;
}

#save_avatar{
    cursor: pointer;
}

